{% load static %}
<div class="navigation w-100">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <a class="navbar-brand" href="/"><img src="{% static 'tutor/images/logo/logo.png' %}" alt="logo"
                                                           style="width: 96px"></a>
            <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item @@about">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item @@courses">
                        <a class="nav-link" href="{% url 'courseapp:course_list' %}">COURSES</a>
                    </li>
                    <li class="nav-item @@events">
                        <a class="nav-link" href="#">EVENTS</a>
                    </li>
                    <li class="nav-item @@blog">
                        <a class="nav-link" href="#">BLOG</a>
                    </li>
                    <li class="nav-item dropdown view">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Pages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Teacher</a>
                            <a class="dropdown-item" href="#">Teacher Single</a>
                            <a class="dropdown-item" href="#">Notice</a>
                            <a class="dropdown-item" href="#">Notice Details</a>
                            <a class="dropdown-item" href="#">Research</a>
                            <a class="dropdown-item" href="#">Scholarship</a>
                            <a class="dropdown-item" href="#">Course Details</a>
                            <a class="dropdown-item" href="#">Event Details</a>
                            <a class="dropdown-item" href="#">Blog Details</a>
                        </div>
                    </li>
                    <li class="nav-item @@contact">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown view">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {{ user }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if user.is_superuser %}
                                    <a class="dropdown-item" href="/admin/">Admin panel</a>
                                {% endif %}
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Balance</a>
                                <a class="dropdown-item" href="{% url 'authapp:logout' %}">Exit</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li class="nav-item dropdown view">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {{ user }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if user.is_superuser %}
                                    <a class="dropdown-item" href="/admin/">Admin panel</a>
                                {% endif %}
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Balance</a>
                                <a class="dropdown-item" href="{% url 'authapp:logout' %}">Exit</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>