{% load static %}
<div class="navigation w-100">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <a class="navbar-brand" href="/"><img src="{% static 'tutor/images/logo/logo.png' %}" alt="logo"
                                                  style="width: 96px"></a>
            <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item @@courses {% if request.path == '/courses/list/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'courseapp:course_list' %}">COURSES</a>
                    </li>
                    <li class="nav-item @@events {% if request.path == '/courses/events-list/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'courseapp:events_list' %}">EVENTS</a>
                    </li>
                    <li class="nav-item @@contact">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown view">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {{ user }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if user.is_superuser %}
                                    <a class="dropdown-item" href="/admin/">Admin panel</a>
                                {% endif %}
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Balance</a>
                                <a class="dropdown-item" href="{% url 'authapp:logout' %}">Exit</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li class="nav-item dropdown view">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Настройки
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'authapp:users_list' %}">Users</a>
                                <a class="dropdown-item" href="{% url 'courseapp:course_settings_list' %}">Course</a>
                                <a class="dropdown-item" href="{% url 'courseapp:relation_settings_list' %}">Relation</a>
                                <a class="dropdown-item" href="{% url 'courseapp:events_settings_list' %}">Events</a>
                                <a class="dropdown-item" href="#">Unit</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>