<div class="top-header py-2 bg-white">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4 text-center text-lg-left">
                <a class="text-color mr-3" href="callto:+74955891356"><strong>Call</strong> +7 (495) 589-13-56</a>
                <ul class="list-inline d-inline">
                    <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i
                            class="ti-facebook"></i></a></li>
                    <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i
                            class="ti-twitter-alt"></i></a></li>
                    <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i
                            class="ti-linkedin"></i></a></li>
                    <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i
                            class="ti-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-8 text-center text-lg-right">
                <ul class="list-inline">
                    <li class="list-inline-item"><a
                            class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block"
                            href="notice.html">Notice</a></li>
                    <li class="list-inline-item"><a
                            class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block"
                            href="research.html">Research</a></li>
                    <li class="list-inline-item"><a
                            class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block"
                            href="scholarship.html">Scholarship</a></li>
                    {% if not user.is_authenticated %}
                        <li class="list-inline-item"><a
                                class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block"
                                href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                        </li>
                        <li class="list-inline-item"><a
                                class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block"
                                href="#" data-toggle="modal" data-target="#signupModal">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
