{% extends 'authapp/base.html' %}
{% load static %}

{% block slider %}
{% endblock %}

{% block content %}
    <!-- page title -->
    <section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline custom-breadcrumb">
                        <li class="list-inline-item"><a class="h2 text-primary font-secondary"
                                                        href="{% url 'courseapp:course_list' %}">Our Courses</a></li>
                        <li class="list-inline-item text-white h3 font-secondary nasted">{{ object.name }}</li>
                    </ul>
                    <p class="text-lighten">{{ object.short_description }}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- /page title -->

    <!-- section -->
    <section class="section-sm">
        <div class="container">
            {#    <div class="row">#}
            {#      <div class="col-12 mb-4">#}
            {#        <!-- course thumb -->#}
            {#        <img src="{{ object.logo.url }}" class="img-fluid h-75">#}
            {#      </div>#}
            {#    </div>#}
            <!-- course info -->
            <div class="row align-items-center mb-5">
                <div class="col-xl-3 order-1 col-sm-6 mb-4 mb-xl-0">
                    <h2>{{ object.name }}</h2>
                </div>
                <div class="col-xl-6 order-sm-3 order-xl-2 col-12 order-2">
                    <ul class="list-inline text-xl-center">
                        <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <i class="ti-book text-primary icon-md mr-2"></i>
                                <div class="text-left">
                                    <h6 class="mb-0">COURSES</h6>
                                    <p class="mb-0">{{ object.courses }} {{ object.get_courses_time_display }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <i class="ti-alarm-clock text-primary icon-md mr-2"></i>
                                <div class="text-left">
                                    <h6 class="mb-0">DURATION</h6>
                                    <p class="mb-0">{{ object.duration }} {{ object.get_duration_time_display }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <i class="ti-wallet text-primary icon-md mr-2"></i>
                                <div class="text-left">
                                    <h6 class="mb-0">FEE</h6>
                                    <p class="mb-0">From: {{ object.cost }} ₽</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 text-sm-right text-left order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
                    <a href="#" class="btn btn-primary">Apply now</a>
                </div>
                <!-- border -->
                <div class="col-12 mt-4 order-4">
                    <div class="border-bottom border-primary"></div>
                </div>
            </div>
            <!-- course details -->
            <div class="row">
                <div class="col-12 mb-4">
                    {{ object.content | safe }}
                </div>
            </div>
        </div>
    </section>
    <!-- /section -->

    <!-- related course -->
    {% if related_course %}
        <section class="section pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="section-title">Related Course</h2>
                    </div>
                </div>
                    <div class="row justify-content-center">
                    {% for item in related_course %}
                        <!-- course item -->
                        <div class="col-lg-4 col-sm-6 mb-5">
                            <div class="card p-0 border-primary rounded-0 hover-shadow">
                                {% if item.logo %}
                                <img class="card-img-top rounded-0" src="{{ item.logo.url }}"
                                     alt="course thumb">
                                {% endif %}
                                <div class="card-body">
                                    <ul class="list-inline mb-2">
                                        <li class="list-inline-item"><i
                                                class="ti-calendar mr-1 text-color"></i>{{ item.date_created }}
                                        </li>

                                    </ul>
                                    <a href="{% url 'courseapp:course' item.pk %}">
                                        <h4 class="card-title">{{ item.name }}</h4>
                                    </a>
                                    <p class="card-text mb-4"> {{ item.short_description }}</p>
                                    <a href="{% url 'courseapp:course' item.pk %}" class="btn btn-primary btn-sm">Apply now</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
            </div>
        </section>
    {% endif %}
    <!-- /related course -->
{% endblock %}

{% block cta %}
{% endblock %}

{% block events %}
{% endblock %}
