{% extends 'authapp/base.html' %}
{% load static %}

{% block slider %}
{% endblock %}

{% block content %}
    <section class="page-title-section overlay" data-background="{% static 'tutor/images/background/00000.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline custom-breadcrumb">
                        <li class="list-inline-item"><a class="h2 text-primary font-secondary"
                                                        href="{% url 'courseapp:events_list' %}">Upcoming Events</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- courses -->
<section class="section">
  <div class="container">
    <div class="row">
      <!-- event -->
        {% for item in all_events %}
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card border-0 rounded-0 hover-shadow">
          <div class="card-img position-relative">
            <img class="card-img-top rounded-0" src="{% if item.logo %}{{ item.logo.url }}{% endif %}" alt="event thumb">
            <div class="card-date"><span>{{ item.start_time | date:'d' }}</span><br>{{ item.start_time | date:'M' }}</div>
          </div>
          <div class="card-body">
            <!-- location -->
            <p><i class="ti-location-pin text-primary mr-2"></i>{{ item.location }}</p>
            <a href="{% url 'courseapp:events' item.pk %}">
              <h4 class="card-title">{{ item.title }}</h4>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /courses -->
{% endblock %}

{% block cta %}
{% endblock %}

{% block events %}
{% endblock %}